<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    defining the bean-->
    <bean id="proof" class="com.practice.setterinjectionXML.Passport">
    </bean>

<!--    load the properties file -->
    <context:property-placeholder location="classpath:person.properties"></context:property-placeholder>

    <!--    defining the bean -->
    <bean id="person" class="com.practice.setterinjectionXML.Person">
        <!--setter injection-->
       <property name="proof" ref="proof"></property>
<!--        <property name="name" value="john"></property>-->
<!--        <property name="age" value="25"></property>-->

<!--        getting the values from person.properties file-->
        <property name="name" value="${person.name}"></property>
        <property name="age" value="${person.age}"></property>
    </bean>



</beans>





