<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <bean id="mycoach" class="com.practice.springiocxml.FootballCoach">

    </bean>
    <!--
	Add a logger config to see logging messages.
	- For more detailed logs, set values to "FINEST"
	- For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html
 -->
    <bean id="myLoggerConfig" class="com.practice.springiocxml.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE"/>
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>

<!--    &lt;!&ndash;    defining the bean&ndash;&gt;-->
<!--    <bean id="proof" class="com.practice.constructerinjectionXML.Passport">-->
<!--    </bean>-->

<!--    &lt;!&ndash;    defining the bean &ndash;&gt;-->
<!--    <bean id="person" class="com.practice.constructerinjectionXML.Person">-->
<!--        &lt;!&ndash;constructor injection&ndash;&gt;-->
<!--        <constructor-arg ref="proof"></constructor-arg>-->
<!--    </bean>-->

    <!--    defining the bean-->
    <bean id="proof" class="com.practice.setterinjectionXML.Passport">
    </bean>

<!--    load the properties file -->
    <context:property-placeholder location="classpath:person.properties"></context:property-placeholder>

    <!--    defining the bean -->
    <bean id="person" class="com.practice.setterinjectionXML.Person">
        <!--setter injection-->
       <property name="proof" ref="proof"></property>
<!--        <property name="name" value="john"></property>-->
<!--        <property name="age" value="25"></property>-->

<!--        getting the values from person.properties file-->
        <property name="name" value="${person.name}"></property>
        <property name="age" value="${person.age}"></property>
    </bean>



</beans>





